.autocomplete-items {
    position: absolute;
    display: list-item;
    z-index: 99;
    top: 120%;
    width: 70%;
    height: 150px;
    left: 0;
    right: 0;
    padding-left:inherit;
    border-radius: 5px;        
    overflow: auto;
}

.autocomplete-items div {
    padding: 3px;
    cursor: pointer;
    background-color: #fff;
    text-align: left;
}

.autocomplete-items div:hover {
    background-color: rgba(162, 167, 172, 0.178) !important;
}
