body, .sticky-footer-wrapper {
   min-height:100vh;
}

.flex-fill {
   flex:1 1 auto;
}

path {
   fill: #ccc;
   stroke: #fff;
   stroke-linejoin: round;
}

.map_container {
   display: flex; 
   justify-content: center;
   display: inline-block;
   position: relative;
   vertical-align: top;
   margin: 0 auto;
}
 
.India_svg {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

.tooltip-donut {
   position: absolute;
   text-align: center;
   margin: 2px;
   background: #ccc;
   color: #313639;
   pointer-events: none;
}

#legend {
   padding: 1.5em 0 0 1.5em;
}

li.key {
   border-top-width: 15px;
   border-top-style: solid;
   font-size: .75em;
   width: 10%;
   padding-left: 0;
   padding-right: 0;
}
