<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="shortcut icon" type="image/x-icon" href="/static/uploads/favicon.ico"/>
  <title> {{ the_title }} </title>
  {% block script %}
  <script>
    function check_link(element) {
      if (element == window.location.href) {
        event.preventDefault();
      }
    }
  </script>
  {% endblock %}
  {% block style %}
  {% endblock %}
</head>

<body>
  <div class="d-flex flex-column sticky-footer-wrapper">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
      <a class="navbar-brand" href="/" onclick="check_link (this);">Summary</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/update" onclick="check_link (this);">Today's Update<span
                class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/resources" onclick="check_link (this);">Resources</a>
          </li>
        </ul>
        <ul class="nav navbar-nav justify-content-right">
          <li class="nav-item">
            <a class="nav-link" href="/graph" onclick="check_link (this);">Graph<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/report" onclick="check_link (this);">Report</a>
          </li>
        </ul>
      </div>
    </nav>
    <main class="flex-fill pt-3">
      {% block body %}
      {% endblock %}
    </main>
    <footer>
      <div class="container-fluid bg-dark text-white text-center py-3">
        <p> Copyright &copy Swaraj Deep 2020</p>
      </div>

    </footer>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="/static/js/jquery.min.js"></script>
  <script src="/static/js/popper.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  {% block jquery %}
  {% endblock %}
</body>

</html>