{% extends 'index.html' %}

{% block style %}
<link rel="stylesheet" href="/static/css/report.css">
{% endblock %}

{% block body %}
<div id="alert-wrapper px-3 py-3">

</div>

<div class="container-fluid" id="redirect" hidden="true">
    <div id="accordion px-8">
        <div class="row">
            <div class="col-sm py-2">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne">
                                Overall state data
                            </button>
                        </h5>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body font-weight-bold">
                            <p class="text-center" id="state">

                            </p>
                            <p class="text-center text-danger" id="confirmed">

                            </p>
                            <p class="text-center" style="color:rgba(11, 31, 212, 0.705)" id="active">

                            </p>
                            <p class="text-center text-success" id="recovered">

                            </p>
                            <p class="text-center text-secondary" id="deaths">

                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm py-2">
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
                                aria-expanded="false" aria-controls="collapseTwo">
                                Check here for today's update
                            </button>
                        </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card-body">
                            <table class="table table-hover table-dark table-responsive" id="today_update">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">District</th>
                                        <th scope="col">Confirmed</th>
                                        <th scope="col">Recovered</th>
                                        <th scope="col">Deaths</th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm py-2">
                <div class="card">
                    <div class="card-header" id="headingThree">
                        <h5 class="mb-0">
                            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
                                aria-expanded="false" aria-controls="collapseThree">
                                Check for resources in your district
                            </button>
                        </h5>
                    </div>
                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card-body">
                            <table class="table table-hover table-dark table-responsive" id="resources">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Category</th>
                                        <th scope="col">City</th>
                                        <th scope="col">Name of Organization</th>
                                        <th scope="col">Phone Number</th>
                                        <th scope="col">Contact</th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid text-center px-3" id="ref_nav" hidden='true'>
    <div class="row">
        <div class="col-sm py-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-success">Generate Report</h5>
                    <h6 class="card-subtitle mb-2">Search your state or district name in the text box.</h6>
                    <p class="card-text text-secondary">
                        Type your state or district name in the search box and press the search button to get a detailed
                        report on the page.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="input-group py-3">
                <input type="text" class="form-control" placeholder="Search for your state or district"
                    aria-label="state or district name" aria-describedby="state_district_name" id="search">
                <div class="input-group-append">
                    <button class="btn btn-outline-success" type="button" id="state_district_name">Search</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row px-3" hidden="true" id="show-elem">
        <div id="accordion2nd ">
            <div class="row">
                <div class="col-sm py-2">
                    <div class="card">
                        <div class="card-header" id="headingOne2nd">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne2nd"
                                    aria-expanded="true" aria-controls="collapseOne2nd">
                                    Overall state data
                                </button>
                            </h5>
                        </div>
    
                        <div id="collapseOne2nd" class="collapse show" aria-labelledby="headingOne2nd" data-parent="#accordion2nd">
                            <div class="card-body font-weight-bold">
                                <p class="text-center" id="state2nd">
    
                                </p>
                                <p class="text-center text-danger" id="confirmed2nd">
    
                                </p>
                                <p class="text-center" style="color:rgba(11, 31, 212, 0.705)" id="active2nd">
    
                                </p>
                                <p class="text-center text-success" id="recovered2nd">
    
                                </p>
                                <p class="text-center text-secondary" id="deaths2nd">
    
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm py-2">
                    <div class="card">
                        <div class="card-header" id="headingTwo2nd">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo2nd"
                                    aria-expanded="false" aria-controls="collapseTwo2nd">
                                    Check here for today's update
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTwo2nd" class="collapse" aria-labelledby="headingTwo2nd" data-parent="#accordion2nd">
                            <div class="card-body">
                                <table class="table table-hover table-dark table-responsive" id="today_update2nd">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">District</th>
                                            <th scope="col">Confirmed</th>
                                            <th scope="col">Recovered</th>
                                            <th scope="col">Deaths</th>
                                        </tr>
                                    </thead>
                                    <tbody>
    
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm py-2">
                    <div class="card">
                        <div class="card-header" id="headingThree2nd">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree2nd"
                                    aria-expanded="false" aria-controls="collapseThree2nd">
                                    Check for resources in your district
                                </button>
                            </h5>
                        </div>
                        <div id="collapseThree2nd" class="collapse" aria-labelledby="headingThree2nd" data-parent="#accordion2nd">
                            <div class="card-body">
                                <table class="table table-hover table-dark table-responsive" id="resources2nd">
                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Category</th>
                                            <th scope="col">City</th>
                                            <th scope="col">Name of Organization</th>
                                            <th scope="col">Phone Number</th>
                                            <th scope="col">Contact</th>
                                        </tr>
                                    </thead>
                                    <tbody>
    
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block jquery %}
<script src="/static/js/report.js"></script>
{% endblock %}